body {
background-color: #066D84;
/* background-image: url(./images/flores\ sin\ fondo.png);  */
font-family: 'Montserrat', sans-serif;

}

.logo{
    align-items: center;
}

/* Container de primera vista, ViewHome y de container de segunda vista Mesero */

.BigContainer{
  background-image: url(/src/components/images/flores\ sin\ fondo.png);

}

.BigContainer .container, .authReia {
    background-color: #066D84;
    width: 80%;
    margin-left: 10%;
    height: 100vh;
    text-align: center;

}

/* Componente Bton */
.Botonbox {
    border-style: solid;
    border-color: #CEDABD;
    box-sizing: border-box;
    border-width: 10px;  
    width:30%;
    height: 15%;
    margin-left: 30%;
    margin-top:15%;
    text-align: center;
    padding:30px;
    
}

.Botonbox .Link {
    text-decoration: none;
    font-size: 30px;
    color: #CEDABD;

}


/* Componente Input */

.input{
    border:0;
    width:40%;
    height: 15%;
    margin-left: 30%;
    margin-top:25%;
    text-align: center;
    padding:30px;
    display: flex;
}

/* Especificaciones página de Pedidos */

.Orders{
    

}
/* Especificaciones a inputs en página de Pedidos */
.inputContainer .input{
    width:20%;
    height: 10%;
    margin-top:5%;
}

/* Especificaciones navbar en página Pedidos*/
.navbar{
    border-style: solid;
    border-color: #CEDABD;
    box-sizing: border-box;
    border-width: 5px;  
    width:auto;
    height: 50px;
  
}
.navbar a{
    text-decoration: none;
    font-size: 25px;
    color: #CEDABD;
   
    display: inline-flex;
    margin-inline-end: 13%;
 }

 .menuBox, .pedidoBox{
   
    border-style: solid;
    border-color: #CEDABD;
    box-sizing: border-box;
    border-width: 10px;  
    width:30%;
    height: 40%;
    margin-left: 30%;
    margin-top:15%;
    text-align: center;
    padding:30px;
 }   


