
html, body {
    height: 100vh;
    background-color: #066D84;
    /* background-image: url(./images/flores\ sin\ fondo.png);  */
    font-family: 'Montserrat', sans-serif;
}

p,h4 {
    color: #CEDABD;
}

.App-header {
    text-align: center;
}

/* Container de primera vista, ViewHome y de container de segunda vista Mesero */

.BigContainer {
    /* background-image: url('./images/flores\ sin\ fondo\(1\).png'); */
    background-image: url('./images/flores\ sin\ fondo.png');
    background-size: contain;

}

.BigContainer .container,
.authReia {
    background-color: #066D84;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    text-align: center;

}

/** Pagina home **/
.contenedorBotonesHome {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20%;
    /* margin-bottom: 25%; */
}

.contenedorBotonesHome .Botonbox {
    margin-top: 5vh;
}

/** Pagina mesero **/
.contenedorPaginaMesero {
    position: relative;
    width: 75%;
    margin: 25vh auto;
}

.contenedorPaginaMesero .Botonbox {
    position: absolute;
    right: 0;
    width: auto;
    height: auto;
}

.contenedorPaginaMesero .input {
    width: 100%;
    padding: 30px 0;
}

/* Componente Bton */
.Botonbox {
    border-style: solid;
    border-color: #CEDABD;
    box-sizing: border-box;
    border-width: 10px;
    text-align: center;
    padding: 20px;
}

.Botonbox .Link {
    text-decoration: none;
    font-size: 30px;
    color: #CEDABD;
}


/* Componente Input */

.input {
    border: 10px solid #CEDABD;
    background-color: rgba(206, 218, 189, 0.5);
    box-sizing: border-box;
    color: #FFF;
    font-size: 1.6rem;
    width: 100%;
    height: 15%;
    margin-bottom: 5%;
    text-align: center;
    padding: 25px 0;
    display: flex;
}

.input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #FFF;
}

/* Especificaciones página de Pedidos */

/* Especificaciones navbar en página Pedidos*/
.navbar {

    border-style: solid;
    border-color: #CEDABD;
    box-sizing: border-box;
    border-width: 5px;
    border-left: none;
    border-right: none;
    width: auto;
    height: 50px;

}

.navbar nav {
    display: flex;
}


.navbar a {
    text-decoration: none;
    font-size: 25px;
    color: #CEDABD;

    flex: 1;
    text-align: center;
    margin: 0 40px;
}

.BoxContainer {
    display: flex;
    margin: 15px auto;

}

.ColumnContainer {
    display: flex;
    flex: 1;
    margin: 15px;
    flex-flow: column;
}

.menuBox,
.pedidoBox {
    flex: 1;
    border: 10px solid #CEDABD;
    box-sizing: border-box;
    width: 45%;
    min-height: 40vh;
    padding: 40px 0;
    margin: 15px;
    font-size: 1.6rem;
    position: relative;
}

.total {
    position: absolute;
    font-size: 1.6rem;
    text-align: right;
    bottom: 0;
    right: 10px;
}

.menuBox td {
    border: none;
    background-color: transparent;
    padding: 14px 28px;
    color: #CEDABD;
    cursor: pointer;
}

.menuBox td:hover {
    color: #E7AF3E;
    border: none;
}

.lineaInformacionPedido {
    display: flex;
}

.lineaInformacionPedido .numeroPedido {
    flex: 1;
    width: 1em;
    height: 1em;
    max-width: 1em;
    font-size: 2rem;
    background: #CEDABD;
}

.lineaInformacionPedido .aumentarPedido,
.lineaInformacionPedido .disminuirPedido {
    flex: 1;
    width: 1em;
    height: 1em;
    max-width: 1em;
    font-size: 2rem;
    font-weight: bold;
    color: #E7AF3E;
    background: transparent;
    border: none;
    outline: none;
}

/** Pagina cocina **/
.contenedorCocina {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedorCocina>div {
    border: 10px solid #CEDABD;
    box-sizing: border-box;
    width: 40vw;
    min-height: 35vh;
    padding: 1vh 1vw;
    margin: 1em;
    font-size: 1.6rem;
    position: relative;
}

.botonEntrega {
    background-color: #E7AF3E;
    color: #FFF;
    border: none;
    border-radius: 15px;
    font-size: 1.6rem;
    padding: 5px 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 600px) {

    /*Sección Inicio*/
    .logo{
        height: 17vh;
    }
    .contenedorBotonesHome{
        margin-top: 30%;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .Botonbox{
        border-width: 6px;
        padding:15px;
        margin-bottom: 6vh;
    }

    .Botonbox .Link{
        font-size: 15px;
    }

    /* Sección Cocina*/

    .contenedorCocina .half{
        border: 5px solid #CEDABD;
        box-sizing: border-box;
        width: 50vw;
        padding: 4px;
        margin: 15px;
    }

    .contenedorCocina .half h4{
        font-size: 16px;
    }

    .contenedorCocina .half p{
        font-size: 14px;
    }

    .botonEntrega{
        font-size: 14px;
    }

    /* Pagina Mesero */

    .contenedorPaginaMesero .input{
        width: 100%;
        font-size: 15px;
        padding: 7px 0;
        border: 5px solid #CEDABD;
    }

    .contenedorPaginaMesero .input::placeholder{
        font-size: 14px;
    }

    .contenedorPaginaMesero .Botonbox{
        border-width: 5px;
        margin-top: 2vh;
    }

    /* Sección Pedidos*/
    .navbar a{
        font-size: 15px;
        margin: 6px 15px;
    }

    .BoxContainer .menuBox, .BoxContainer .pedidoBox{
        border: 5px solid #CEDABD;
        font-size: 13px;
        padding: 2px;
    }

    .BoxContainer .menuBox td, .BoxContainer .pedidoBox td {
        padding: 2px 2px;
    }

    .pedidoBox .total{
        font-size: 15px;
        position: relative;
    }

    .compInput .input{
        width: 100%;
        font-size: 15px;
        padding: 7px 0;
        border: 5px solid #CEDABD;
    }

    .compInput .input::placeholder{
        font-size: 14px;
    }

    .ColumnContainer .Botonbox{
        border-width: 5px;
        padding: 8px;
        margin-bottom: 1vh;
    }

} 